<%- include('partials/header'); -%>
<h1> Select you userguide!</h1>
<br>
<a href="/functionHelp">How to delete and edit shoes for admins!</a><br>
<a href="/linuxSetup">How to set up linux for admins!</a>

<%- include('partials/footer'); -%>
